.contact-page {
  text-align: center;
  margin-top: 100px;

  .heading {
    text-decoration: underline;
  }

  a {
    color: blue;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
}